.filler {
  width: 100px;
  height: 0.5px;
  background-color: #363636;
  margin: 0 10px;
}

.e__grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media screen and (max-width: 870px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 530px) {
    grid-template-columns: 1fr;
  }
}

.e-own-style {
  // display: none;
  h1 {
    font-weight: bold;
  }
  ul li {
    list-style: circle;
    text-align: left;
  }
}
