.e_cart {
  position: relative;
  &_num {
    position: absolute;
    width: 23.5px;
    height: 23.5px;
    text-align: center;
    border-radius: 50%;
    top: -15px;
    right: -20px;
    background-color: #eeeeff;
    color: #111111;
    display: grid;
    place-content: center;
  }
}
